body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header {
  height: 60px;
}

nav {
  height: 47px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 8px;
}

.container-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.menu:hover {
  border-radius: 50%;
  background-color: #3c404314;
}

.links {
  margin-right: 15px;
  display: flex;
  width: 150px;
  justify-content: space-around;
}

.links a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

.links a:hover {
  color: rgba(0,0,0,.87);
  text-decoration: underline;
}

main {
  height: 595px;
}
.sec-one {
  display: flex;
  height: 193px;
  align-items: flex-end;
  justify-content: center;
}

.google {
  width: 272px;
  height: 92px;
  margin-top: 101px;
}

.sec-two {
  display: flex;
  padding: 20px;
  height: 118px;
  flex-direction: column;
  justify-content: center;
}

.sec-two-1 {
  display: flex;
  padding-top: 6px;
  padding-bottom: 18px;
  justify-content: center;
}

.sec-two-1-1 {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  padding: 5px 8px 0 14px;
  margin: 0 auto;
  width: 558px;
  height: 46px;
  max-width: 584px;
  min-height: 44px;
}

.sec-two-1-1-1 {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  height: 46px;
}

.sec-two-1-1-1 img {
  margin: auto;
  height: 14.58px;
  width: 14.58px;
  cursor: pointer;
  line-height: 36px;
}

.text {
  resize: none;
  background-color: transparent;
  border: none;
  margin-top: 6px;
  margin-bottom: 8px;
  padding: 0;
  height: 27px;
  width: 443px;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  line-height: 36px;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}

.sec-two-1-1-3 {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.mic {
  height: 24px;
  width: 10px;
  line-height: 36px;
}

.lens {
  width: 24px;
  width: 24px;
  line-height: 36px;
}

.sec-two-1-1-3 img{
  padding: 10px 8px;
  cursor: pointer;
  line-height: 36px;
}

.sec-two-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sec-two-2 a{
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 1px 16px;
  line-height: 36px;
  height: 36px;
  text-align: center;
  text-decoration: none;
}

.sec-two-2 a:hover {
    color: rgba(0,0,0,.87);
    text-decoration: underline;
}

.sec-three {
  display: flex;
  height: 246px;
  align-items: flex-start;
  justify-content: center;
}

.sec-three a {
  color: #1a0dab;
  text-decoration: none;
  padding-left: 7px;
}

.sec-three a:hover {
  color: #1a0dab;
  text-decoration: underline;
}

footer {
  background: #f2f2f2;
}

.sec-four {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dadce0;
}

.sec-four a {
  color: #70757a;
  text-decoration: none;
  padding: 15px 30px;
}

.sec-five {
  display: flex;
  height: 46px;
  padding: 0 20px;
  justify-content: space-evenly;
  border-bottom: 1px solid #dadce0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sec-five a {
  color: #70757a;
  text-decoration: none;
  align-content: center;
  padding: 15px 15px;
  font-size: 14px;
  font-family: arial,sans-serif;
}

.sec-five a:hover {
  color: #70757a;
  text-decoration: underline;
}

.sec-five-1 {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 30px;
}

.sec-five-2 {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 30px;
}